# BCG Data Challenge

## Imports and Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

## 1. Load Data

In [2]:
df = pd.read_csv("C:/Users/yacco/Downloads/transactions_dataset.csv", sep=";")
df

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id
0,2017-09-25,2017-09-25,2376333,188502,155.44320,3,online,2732
1,2017-09-25,2017-09-25,2520527,835089,16.39440,3,at the store,10279
2,2017-09-25,2017-09-25,2536756,1977896,365.76624,21,online,6184
3,2017-09-25,2017-09-25,3028673,598816,8.59878,201,at the store,4200
4,2017-09-25,2017-09-25,203377,2086861,1093.37400,3,by phone,7051
...,...,...,...,...,...,...,...,...
63319310,2019-06-10,2020-06-12,1596284,245272,-2056.91300,5,by phone,7682
63319311,2018-12-14,2020-07-15,908253,880496,27.62760,1001,by phone,9375
63319312,2019-07-26,2020-10-29,1168247,2063314,-204.60984,101,by phone,3014
63319313,2018-05-23,2020-11-27,2319965,1287654,70.49730,17,by phone,1015
63319314,2019-09-10,2020-10-20,669067,1030337,-5.49240,3,at the store,9136

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63319315 entries, 0 to 63319314
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   date_order     object
 1   date_invoice   object
 2   product_id     int64
 3   client_id      int64
 4   sales_net      float64
 5   quantity       int64
 6   order_channel  object
 7   branch_id      int64
dtypes: float64(1), int64(4), object(3)
memory usage: 3.8+ GB

In [4]:
df["date_order"] = pd.to_datetime(df["date_order"])
df["date_invoice"] = pd.to_datetime(df["date_invoice"])
df

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id
0,2017-09-25,2017-09-25,2376333,188502,155.44320,3,online,2732
1,2017-09-25,2017-09-25,2520527,835089,16.39440,3,at the store,10279
2,2017-09-25,2017-09-25,2536756,1977896,365.76624,21,online,6184
3,2017-09-25,2017-09-25,3028673,598816,8.59878,201,at the store,4200
4,2017-09-25,2017-09-25,203377,2086861,1093.37400,3,by phone,7051
...,...,...,...,...,...,...,...,...
63319310,2019-06-10,2020-06-12,1596284,245272,-2056.91300,5,by phone,7682
63319311,2018-12-14,2020-07-15,908253,880496,27.62760,1001,by phone,9375
63319312,2019-07-26,2020-10-29,1168247,2063314,-204.60984,101,by phone,3014
63319313,2018-05-23,2020-11-27,2319965,1287654,70.49730,17,by phone,1015
63319314,2019-09-10,2020-10-20,669067,1030337,-5.49240,3,at the store,9136

In [5]:
df["product_id"].nunique()

607418

In [6]:
df["client_id"].nunique()

170589

In [7]:
df["order_channel"].unique()

array(['online', 'at the store', 'by phone',
       'during the visit of a sales rep', 'other'], dtype=object)

In [8]:
df["branch_id"].nunique()

582

In [9]:
df.describe()

         product_id     client_id     sales_net      quantity     branch_id
count  6.331932e+07  6.331932e+07  6.331932e+07  6.331932e+07  6.331932e+07
mean   1.632321e+06  1.139833e+06  1.479416e+02  9.215658e+01  5.466714e+03
std    9.184524e+05  6.552536e+05  8.646548e+02  8.674801e+02  3.175258e+03
min    1.500000e+01  6.000000e+00 -1.738817e+06  3.000000e+00  2.000000e+01
25%    8.517370e+05  5.658470e+05  1.414653e+01  3.000000e+00  2.907000e+03
50%    1.621731e+06  1.152241e+06  4.424280e+01  5.000000e+00  5.226000e+03
75%    2.434262e+06  1.706977e+06  1.314680e+02  2.100000e+01  8.361000e+03
max    3.238833e+06  2.274517e+06  1.740456e+06  1.980010e+05  1.105700e+04

## 2. Filter Data to 2019

We have 63M rows in total so too much data.

In [34]:
import pandas as pd

# Ensure 'date_order' is in datetime format
filtered_df["date_order"] = pd.to_datetime(filtered_df["date_order"])

# Sort by client_id and date_order
filtered_df = filtered_df.sort_values(by=["client_id", "date_order"])

# Compute each customer's last purchase date
last_purchase_df = filtered_df.groupby("client_id")["date_order"].max().reset_index()
last_purchase_df = last_purchase_df.rename(columns={"date_order": "last_purchase_date"})

last_purchase_df

        client_id last_purchase_date
0               6         2019-08-13
1               7         2018-12-24
2              14         2019-09-20
3              18         2019-09-12
4              25         2018-10-10
...           ...                ...
170584    2274456         2019-09-02
170585    2274479         2019-02-27
170586    2274504         2019-01-01
170587    2274508         2017-10-18
170588    2274517         2019-08-29

[170589 rows x 2 columns]

In [35]:
# Compute each customer's inter-purchase time (ignoring the last transaction)
filtered_df["next_order_date"] = filtered_df.groupby("client_id")["date_order"].shift(-1)
filtered_df["days_until_next_order"] = (
    filtered_df["next_order_date"] - filtered_df["date_order"]
).dt.days

In [36]:
filtered_df

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id,next_order_date,days_until_next_order
2012229,2017-10-27,2017-10-27,2173586,6,55.821000,5,by phone,8470,2017-10-27,0.0
2029384,2017-10-27,2017-10-27,857055,6,21.046886,401,by phone,8470,2017-10-27,0.0
2048291,2017-10-27,2017-10-27,2299248,6,20.470000,5,by phone,8470,2017-10-27,0.0
2055732,2017-10-27,2017-10-27,482165,6,8.418000,61,by phone,8470,2017-10-27,0.0
2059798,2017-10-27,2017-10-27,1437249,6,48.467072,101,by phone,8470,2017-10-27,0.0
...,...,...,...,...,...,...,...,...,...,...
59257825,2019-08-09,2019-08-09,2928234,2274517,163.559440,11,at the store,10078,2019-08-29,20.0
60971785,2019-08-29,2019-08-29,1362009,2274517,30.277200,3,at the store,10078,2019-08-29,0.0
61080571,2019-08-29,2019-08-29,2811481,2274517,7.544000,41,at the store,10078,2019-08-29,0.0
61122805,2019-08-29,2019-08-29,2756692,2274517,294.612060,41,at the store,10078,2019-08-29,0.0
61288715,2019-08-29,2019-08-29,2030665,2274517,117.869940,401,at the store,10078,NaT,NaN

In [37]:
# Remove 0 values when computing median inter-purchase time
customer_avg_gap = (
    filtered_df[filtered_df["days_until_next_order"] > 0]  # Ignore same-day transactions
    .groupby("client_id")["days_until_next_order"]
    .mean()
    .reset_index()
    .rename(columns={"days_until_next_order": "avg_interpurchase_time"})
)

customer_avg_gap

        client_id  avg_interpurchase_time
0               6               54.583333
1               7              161.000000
2              14                1.438492
3              18                2.468966
4              37               40.571429
...           ...                     ...
149503    2274440               28.560000
149504    2274456                1.750000
149505    2274479              485.000000
149506    2274504              425.000000
149507    2274517               30.260870

[149508 rows x 2 columns]

In [44]:
# Merge last purchase date and interpurchase time into final_df
final_df = filtered_df.merge(last_purchase_df, on="client_id", how="left")
final_df = final_df.merge(customer_avg_gap, on="client_id", how="left")

# Handle customers with only one transaction (set fallback value)
global_median_gap = final_df["avg_interpurchase_time"].median()
final_df["avg_interpurchase_time"] = final_df["avg_interpurchase_time"].fillna(global_median_gap)

# Get latest transaction date in the dataset (present date)
present_date = final_df["date_order"].max()

# Compute days since last purchase
final_df["days_since_last_purchase"] = (present_date - final_df["last_purchase_date"]).dt.days

# Define churn: If last purchase was more than 2X usual time gap, they are churned
final_df["churned"] = (final_df["days_since_last_purchase"] > 2 * final_df["avg_interpurchase_time"]).astype(int)

In [45]:
present_date

Timestamp('2019-09-22 00:00:00')

In [47]:
final_df[final_df['client_id'] == 6]

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id,next_order_date,days_until_next_order,last_purchase_date,avg_interpurchase_time,days_since_last_purchase,churned
0,2017-10-27,2017-10-27,2173586,6,55.821000,5,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
1,2017-10-27,2017-10-27,857055,6,21.046886,401,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
2,2017-10-27,2017-10-27,2299248,6,20.470000,5,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
3,2017-10-27,2017-10-27,482165,6,8.418000,61,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
4,2017-10-27,2017-10-27,1437249,6,48.467072,101,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
5,2017-10-27,2017-10-27,231597,6,7.889000,5,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
6,2017-10-27,2017-10-27,79016,6,884.120000,31,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
7,2017-10-27,2017-10-27,1423577,6,311.857920,11,by phone,8470,2017-11-29,33.0,2019-08-13,54.583333,40,0
8,2017-11-29,2017-11-29,654297,6,87.216000,5,at the store,8470,2017-11-29,0.0,2019-08-13,54.583333,40,0
9,2017-11-29,2017-11-29,1840810,6,116.913600,3,at the store,8470,2018-03-30,121.0,2019-08-13,54.583333,40,0
10,2018-03-30,2018-03-30,2004688,6,265.502187,31,by phone,8470,2018-03-30,0.0,2019-08-13,54.583333,40,0
11,2018-03-30,2018-03-30,2538912,6,197.049510,81,by phone,8470,2018-03-30,0.0,2019-08-13,54.583333,40,0
12,2018-03-30,2018-03-30,2512504,6,0.000000,3,by phone,8470,2018-05-10,41.0,2019-08-13,54.583333,40,0
13,2018-05-10,2018-05-10,1954776,6,550.216488,101,by phone,8470,2018-05-10,0.0,2019-08-13,54.583333,40,0
14,2018-05-10,2018-05-10,2512504,6,0.000000,3,by phone,8470,2018-05-10,0.0,2019-08-13,54.583333,40,0
15,2018-05-10,2018-05-10,184293,6,7.418880,21,by phone,8470,2018-05-10,0.0,2019-08-13,54.583333,40,0
16,2018-05-10,2018-05-10,1203365,6,14.837760,21,by phone,8470,2018-11-20,194.0,2019-08-13,54.583333,40,0
17,2018-11-20,2018-11-20,169851,6,76.590000,5,at the store,8470,2018-11-20,0.0,2019-08-13,54.583333,40,0
18,2018-11-20,2018-11-20,1086835,6,101.246000,5,at the store,8470,2018-11-20,0.0,2019-08-13,54.583333,40,0
19,2018-11-20,2018-11-20,169851,6,0.000000,5,at the store,8470,2018-11-20,0.0,2019-08-13,54.583333,40,0
20,2018-11-20,2018-11-20,46698,6,92.966000,5,at the store,8470,2018-11-22,2.0,2019-08-13,54.583333,40,0
21,2018-11-22,2018-11-22,2900686,6,193.420800,3,at the store,8470,2018-11-23,1.0,2019-08-13,54.583333,40,0
22,2018-11-23,2018-11-23,3097351,6,98.877000,5,by phone,8470,2019-01-10,48.0,2019-08-13,54.583333,40,0
23,2019-01-10,2019-01-10,3137129,6,0.000000,3,by phone,8470,2019-01-10,0.0,2019-08-13,54.583333,40,0
24,2019-01-10,2019-01-10,1478345,6,157.666227,121,by phone,8470,2019-02-12,33.0,2019-08-13,54.583333,40,0
25,2019-02-12,2019-02-12,2676931,6,139.242000,3,at the store,8470,2019-02-13,1.0,2019-08-13,54.583333,40,0
26,2019-02-13,2019-02-13,50772,6,11.895600,3,at the store,8470,2019-02-13,0.0,2019-08-13,54.583333,40,0
27,2019-02-13,2019-02-13,891104,6,23.239200,3,at the store,8470,2019-07-25,162.0,2019-08-13,54.583333,40,0
28,2019-07-25,2019-07-25,1650826,6,60.858000,3,by phone,8470,2019-07-25,0.0,2019-08-13,54.583333,40,0
29,2019-07-25,2019-07-25,2463124,6,566.076000,3,by phone,8470,2019-07-25,0.0,2019-08-13,54.583333,40,0
30,2019-07-25,2019-07-25,2155642,6,133.183450,1001,by phone,8470,2019-07-25,0.0,2019-08-13,54.583333,40,0
31,2019-07-25,2019-07-25,2382698,6,8.466714,401,by phone,8470,2019-07-25,0.0,2019-08-13,54.583333,40,0
32,2019-07-25,2019-07-25,2986386,6,3.146400,3,by phone,8470,2019-07-25,0.0,2019-08-13,54.583333,40,0
33,2019-07-25,2019-07-25,2775198,6,411.958213,61,by phone,8470,2019-07-25,0.0,2019-08-13,54.583333,40,0
34,2019-07-25,2019-07-25,1840980,6,659.039810,85,by phone,8470,2019-07-25,0.0,2019-08-13,54.583333,40,0
35,2019-07-25,2019-07-25,1307748,6,10.394160,21,by phone,8470,2019-07-31,6.0,2019-08-13,54.583333,40,0
36,2019-07-31,2019-07-31,942611,6,41.538000,3,at the store,8470,2019-07-31,0.0,2019-08-13,54.583333,40,0
37,2019-07-31,2019-07-31,113967,6,63.673200,3,at the store,8470,2019-07-31,0.0,2019-08-13,54.583333,40,0
38,2019-07-31,2019-07-31,1522271,6,370.653924,401,at the store,8470,2019-08-13,13.0,2019-08-13,54.583333,40,0
39,2019-08-13,2019-08-13,1650826,6,60.858000,3,by phone,8470,NaT,NaN,2019-08-13,54.583333,40,0

In [27]:
churn_df[churn_df['client_id'] == 6]

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id,next_order_date,days_until_next_order,last_purchase_date,avg_interpurchase_time,days_since_last_purchase,churned
0,2019-01-10,2019-01-10,3137129,6,0.000000,3,by phone,8470,2019-01-10,0.0,2019-08-13,43.0,40,0
1,2019-01-10,2019-01-10,1478345,6,157.666227,121,by phone,8470,2019-02-12,33.0,2019-08-13,43.0,40,0
2,2019-02-12,2019-02-12,2676931,6,139.242000,3,at the store,8470,2019-02-13,1.0,2019-08-13,43.0,40,0
3,2019-02-13,2019-02-13,50772,6,11.895600,3,at the store,8470,2019-02-13,0.0,2019-08-13,43.0,40,0
4,2019-02-13,2019-02-13,891104,6,23.239200,3,at the store,8470,2019-07-25,162.0,2019-08-13,43.0,40,0
5,2019-07-25,2019-07-25,1650826,6,60.858000,3,by phone,8470,2019-07-25,0.0,2019-08-13,43.0,40,0
6,2019-07-25,2019-07-25,2463124,6,566.076000,3,by phone,8470,2019-07-25,0.0,2019-08-13,43.0,40,0
7,2019-07-25,2019-07-25,2155642,6,133.183450,1001,by phone,8470,2019-07-25,0.0,2019-08-13,43.0,40,0
8,2019-07-25,2019-07-25,2382698,6,8.466714,401,by phone,8470,2019-07-25,0.0,2019-08-13,43.0,40,0
9,2019-07-25,2019-07-25,2986386,6,3.146400,3,by phone,8470,2019-07-25,0.0,2019-08-13,43.0,40,0
10,2019-07-25,2019-07-25,2775198,6,411.958213,61,by phone,8470,2019-07-25,0.0,2019-08-13,43.0,40,0
11,2019-07-25,2019-07-25,1840980,6,659.039810,85,by phone,8470,2019-07-25,0.0,2019-08-13,43.0,40,0
12,2019-07-25,2019-07-25,1307748,6,10.394160,21,by phone,8470,2019-07-31,6.0,2019-08-13,43.0,40,0
13,2019-07-31,2019-07-31,942611,6,41.538000,3,at the store,8470,2019-07-31,0.0,2019-08-13,43.0,40,0
14,2019-07-31,2019-07-31,113967,6,63.673200,3,at the store,8470,2019-07-31,0.0,2019-08-13,43.0,40,0
15,2019-07-31,2019-07-31,1522271,6,370.653924,401,at the store,8470,2019-08-13,13.0,2019-08-13,43.0,40,0
16,2019-08-13,2019-08-13,1650826,6,60.858000,3,by phone,8470,NaT,NaN,2019-08-13,43.0,40,0

In [49]:
final_df["churned"].value_counts(normalize=True)

0    0.656252
1    0.343748
Name: churned, dtype: float64

In [48]:
final_df

,date_order,date_invoice,product_id,client_id,sales_net,quantity,order_channel,branch_id,next_order_date,days_until_next_order,last_purchase_date,avg_interpurchase_time,days_since_last_purchase,churned
0,2017-10-27,2017-10-27,2173586,6,55.821000,5,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
1,2017-10-27,2017-10-27,857055,6,21.046886,401,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
2,2017-10-27,2017-10-27,2299248,6,20.470000,5,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
3,2017-10-27,2017-10-27,482165,6,8.418000,61,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
4,2017-10-27,2017-10-27,1437249,6,48.467072,101,by phone,8470,2017-10-27,0.0,2019-08-13,54.583333,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63319310,2019-08-09,2019-08-09,2928234,2274517,163.559440,11,at the store,10078,2019-08-29,20.0,2019-08-29,30.260870,24,0
63319311,2019-08-29,2019-08-29,1362009,2274517,30.277200,3,at the store,10078,2019-08-29,0.0,2019-08-29,30.260870,24,0
63319312,2019-08-29,2019-08-29,2811481,2274517,7.544000,41,at the store,10078,2019-08-29,0.0,2019-08-29,30.260870,24,0
63319313,2019-08-29,2019-08-29,2756692,2274517,294.612060,41,at the store,10078,2019-08-29,0.0,2019-08-29,30.260870,24,0
63319314,2019-08-29,2019-08-29,2030665,2274517,117.869940,401,at the store,10078,NaT,NaN,2019-08-29,30.260870,24,0

In [50]:
final_df.groupby('order_channel')['churned'].value_counts(normalize=True)

order_channel                    churned
at the store                     0          0.664530
                                 1          0.335470
by phone                         0          0.645055
                                 1          0.354945
during the visit of a sales rep  0          0.664927
                                 1          0.335073
online                           0          0.657981
                                 1          0.342019
other                            0          0.813723
                                 1          0.186277
Name: churned, dtype: float64